%baseProblemWrapper{
    padding:  8px  32px 8px 48px;
    margin-bottom: 0px;
    position: relative;
    text-decoration: none;
    :before {
        content: "";
        position: absolute;
        left: 16px;
        border-left: 2px dotted #cbd5e0;
        height: 100%;
        width: 1px;
        z-index: 1;
    }
    :after {
        transition: 0.2s;
        content: "";
        width: 20px;
        height: 20px;
        border: 2px solid #cbd5e0;
        background-color: #fff;
        border-radius: 100%;
        position: absolute;
        left: 7px;
        top: 12px;
        z-index: 2;
    }
}

%baseProblemWrapper:first-child{
    ::before{
        top: 13px;
    }
}
%baseProblemWrapper:last-child{
    ::before{
        top: -12px;
    }
}

.sectionWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 14px;
}

.sectionTitle{
    margin: 4px 32px 0px 0px;
    font-size: 20px;
    font-weight: 600;
}

.problemTitle{
    color: rgba(74,85,104,1);
    font-weight: 500;
    margin: 0;
    font-size: 18px;
    transition: 0.3s;
    overflow: visible;
}

%baseProblemWrapper:hover{
    background-color: rgba(235,248,255, 1);
    border-radius: 10px;
    :after {
        width: 22px;
        height: 22px;
        left: 6px;
        top: 11px;
    }
}

.problemWrapper{
    @extend %baseProblemWrapper;
}

.activeProblemWrapper{
    @extend %baseProblemWrapper;
    background-color: rgba(235,248,255, 1);
    border-radius: 10px;
}


