.login{
    position: absolute;
    right: 20px;
    top: 17px;

}


.userInfo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: #a0aec0;

}

.userImg{
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    margin-bottom: 2px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}